h1 {
    color: dimgrey;
    text-align: center;
}
h2 {
    text-align: center;
    color: black;
}
h3 {
    text-align: center;
}
p a {
    font-size: x-large;
    
}
.i {
    background-color: ghostwhite;
}

.b {
    background-color: ghostwhite;
}
.card-body {
    background: lightgrey;
}
.card-title {
    color: ghostwhite;
}
h4 {
    text-align: center;
}






